.navbar-custom {
  background-color: #755FFA;
  border-radius:45px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}
.logo img {
  padding-left: 30px;
}
.abc {
  padding-right: 45px;
}
.nav-link img {
  width:50px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.nav-link:hover img {
	width: 70px;
}
.nav-item h2 {
  color: white;
  position: relative;
  right:10px;
}
.nav-item{
  display: flex;
  justify-content:center;
}
.col h1,
.tit h1 {
  text-decoration: underline;
  text-decoration-color: #755FFA;
}
.tit h1 {
  display: flex;
  justify-content: center;
}
.col-7 img {
  width: 200px;
  border: 6px solid #755FFA;
  border-radius: 50%;
}
#bio {
  border: 5px solid #755FFA;
  border-radius: 35px;
}
#cont-skill {
  text-align: center;
}
.card-body {
  background-color: #755FFA;
  border-radius: 2000px;
  text-align: center;
  color: white;
}
.card {
  border-radius: 3005px;
  width: 500px;
}
#prog figure img {
	width: 350px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#prog figure:hover img {
	width: 400px;
}
#footer {
  background-color: #755FFA;
  border-radius: 35px;
}
#footer h5 {
  color: white;
}
@media (max-width:360px) {
  .logo img {
    width:100px;
  }
  #prog figure img {
  	width: 200px;
  	height: auto;
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  }
  #prog figure:hover img {
  	width: 250px;
  }
  .nav-link img {
    width:30px;
  	height: auto;
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  }
  .nav-link:hover img {
  	width: 50px;
  }
}
@media (min-width:768px) {
  .col-7 img {
    width:auto;
  }
}
